@import "../utils/variables";

/* Virtual button css options*/
.button {
  @extend %no-link;
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $font-color-button;
  text-align: center;

  background-color: $bgc-button;
}

/* Hero button */
.hero__btn {
  border-style: none;
}

.submit__btn {
  border-style: none;
  justify-content: center;
}

/* Footer button */
.join__btn {
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: currentColor;
}
